<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.address.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.address.Address" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="OPENID" property="openid" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="ADDR_TYPE" property="addrType" jdbcType="TINYINT" />
    <result column="DDATE" property="ddate" jdbcType="TIMESTAMP" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OPENID, ADDR, ADDR_TYPE, DDATE, LONGITUDE, LATITUDE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.address.AddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_address
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_address
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.address.AddressExample" >
    delete from tbl_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.address.Address" >
    insert into tbl_address (ID, OPENID, ADDR, 
      ADDR_TYPE, DDATE, LONGITUDE, 
      LATITUDE)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{addrType,jdbcType=TINYINT}, #{ddate,jdbcType=TIMESTAMP}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.huntech.pvs.model.address.Address" >
    insert into tbl_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="openid != null" >
        OPENID,
      </if>
      <if test="addr != null" >
        ADDR,
      </if>
      <if test="addrType != null" >
        ADDR_TYPE,
      </if>
      <if test="ddate != null" >
        DDATE,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="addrType != null" >
        #{addrType,jdbcType=TINYINT},
      </if>
      <if test="ddate != null" >
        #{ddate,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.address.AddressExample" resultType="java.lang.Integer" >
    select count(*) from tbl_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_address
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.openid != null" >
        OPENID = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.addr != null" >
        ADDR = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.addrType != null" >
        ADDR_TYPE = #{record.addrType,jdbcType=TINYINT},
      </if>
      <if test="record.ddate != null" >
        DDATE = #{record.ddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.longitude != null" >
        LONGITUDE = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        LATITUDE = #{record.latitude,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_address
    set ID = #{record.id,jdbcType=BIGINT},
      OPENID = #{record.openid,jdbcType=VARCHAR},
      ADDR = #{record.addr,jdbcType=VARCHAR},
      ADDR_TYPE = #{record.addrType,jdbcType=TINYINT},
      DDATE = #{record.ddate,jdbcType=TIMESTAMP},
      LONGITUDE = #{record.longitude,jdbcType=VARCHAR},
      LATITUDE = #{record.latitude,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.address.Address" >
    update tbl_address
    <set >
      <if test="openid != null" >
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="addrType != null" >
        ADDR_TYPE = #{addrType,jdbcType=TINYINT},
      </if>
      <if test="ddate != null" >
        DDATE = #{ddate,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        LONGITUDE = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        LATITUDE = #{latitude,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.address.Address" >
    update tbl_address
    set OPENID = #{openid,jdbcType=VARCHAR},
      ADDR = #{addr,jdbcType=VARCHAR},
      ADDR_TYPE = #{addrType,jdbcType=TINYINT},
      DDATE = #{ddate,jdbcType=TIMESTAMP},
      LONGITUDE = #{longitude,jdbcType=VARCHAR},
      LATITUDE = #{latitude,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>