<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.sys.SysInformationMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.sys.SysInformation" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="INFO_NAME" property="infoName" jdbcType="VARCHAR" />
    <result column="INFO_SIGN" property="infoSign" jdbcType="VARCHAR" />
    <result column="INFO_VALUE" property="infoValue" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SID, CREATED_BY, CREATED_DT, VERSION, UPDATED_BY, UPDATED_DT, INFO_NAME, INFO_SIGN, 
    INFO_VALUE, ENABLED, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.sys.SysInformationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_SYS_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TBL_SYS_INFORMATION
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TBL_SYS_INFORMATION
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.sys.SysInformationExample" >
    delete from TBL_SYS_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.sys.SysInformation" >
    insert into TBL_SYS_INFORMATION (SID, CREATED_BY, CREATED_DT,
      VERSION, UPDATED_BY, UPDATED_DT, 
      INFO_NAME, INFO_SIGN, INFO_VALUE, 
      ENABLED, REMARK)
    values (#{sid,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=DECIMAL}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, 
      #{infoName,jdbcType=VARCHAR}, #{infoSign,jdbcType=VARCHAR}, #{infoValue,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.model.sys.SysInformation" >
    insert into TBL_SYS_INFORMATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid == null" >
        SID,
      </if>
      <if test="sid != null" >
        SID,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="infoName != null" >
        INFO_NAME,
      </if>
      <if test="infoSign != null" >
        INFO_SIGN,
      </if>
      <if test="infoValue != null" >
        INFO_VALUE,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid == null" >
        SEQ_SYS_INFORMATION.NEXTVAL,
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="infoName != null" >
        #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="infoSign != null" >
        #{infoSign,jdbcType=VARCHAR},
      </if>
      <if test="infoValue != null" >
        #{infoValue,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.sys.SysInformationExample" resultType="java.lang.Integer" >
    select count(*) from TBL_SYS_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBL_SYS_INFORMATION
    <set >
      <if test="record.sid != null" >
        SID = #{record.sid,jdbcType=DECIMAL},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDt != null" >
        CREATED_DT = #{record.createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=DECIMAL},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedDt != null" >
        UPDATED_DT = #{record.updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.infoName != null" >
        INFO_NAME = #{record.infoName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoSign != null" >
        INFO_SIGN = #{record.infoSign,jdbcType=VARCHAR},
      </if>
      <if test="record.infoValue != null" >
        INFO_VALUE = #{record.infoValue,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        ENABLED = #{record.enabled,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBL_SYS_INFORMATION
    set SID = #{record.sid,jdbcType=DECIMAL},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{record.createdDt,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=DECIMAL},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{record.updatedDt,jdbcType=TIMESTAMP},
      INFO_NAME = #{record.infoName,jdbcType=VARCHAR},
      INFO_SIGN = #{record.infoSign,jdbcType=VARCHAR},
      INFO_VALUE = #{record.infoValue,jdbcType=VARCHAR},
      ENABLED = #{record.enabled,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.sys.SysInformation" >
    update TBL_SYS_INFORMATION
    <set >
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="infoName != null" >
        INFO_NAME = #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="infoSign != null" >
        INFO_SIGN = #{infoSign,jdbcType=VARCHAR},
      </if>
      <if test="infoValue != null" >
        INFO_VALUE = #{infoValue,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.sys.SysInformation" >
    update TBL_SYS_INFORMATION
    set CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      INFO_NAME = #{infoName,jdbcType=VARCHAR},
      INFO_SIGN = #{infoSign,jdbcType=VARCHAR},
      INFO_VALUE = #{infoValue,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>


  <!-- 分页条件查询 -->
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.sys.SysInformationExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_SYS_INFORMATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.sys.SysInformationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_SYS_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

</mapper>