<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.sys.UserMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.dto.sys.User" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="HOME_PAGE" property="homePage" jdbcType="VARCHAR" />
    <result column="EMPLOYEE_SID" property="employeeSid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SID, CREATED_BY, CREATED_DT, VERSION, UPDATED_BY, UPDATED_DT, LOGIN_NAME, PASSWORD, 
    ENABLED, REMARK, HOME_PAGE, EMPLOYEE_SID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.dto.sys.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TBL_SYS_USER
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TBL_SYS_USER
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.dto.sys.UserExample" >
    delete from TBL_SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.dto.sys.User" >
    insert into TBL_SYS_USER (SID, CREATED_BY, CREATED_DT, 
      VERSION, UPDATED_BY, UPDATED_DT, 
      LOGIN_NAME, PASSWORD, ENABLED, 
      REMARK, HOME_PAGE, EMPLOYEE_SID
      )
    values (#{sid,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=DECIMAL}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, 
      #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{enabled,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{homePage,jdbcType=VARCHAR}, #{employeeSid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.dto.sys.User" >
    <selectKey keyProperty="sid" resultType="Long" order="BEFORE">
      　　　　select seq_sys_user.nextval as sid from dual
      　　</selectKey>
    insert into TBL_SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="sid == null" >
        SID,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="loginName != null" >
        LOGIN_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="homePage != null" >
        HOME_PAGE,
      </if>
      <if test="employeeSid != null" >
        EMPLOYEE_SID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{sid},
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="employeeSid != null" >
        #{employeeSid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.dto.sys.UserExample" resultType="java.lang.Integer" >
    select count(*) from TBL_SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBL_SYS_USER
    <set >
      <if test="record.sid != null" >
        SID = #{record.sid,jdbcType=DECIMAL},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDt != null" >
        CREATED_DT = #{record.createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=DECIMAL},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedDt != null" >
        UPDATED_DT = #{record.updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginName != null" >
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        ENABLED = #{record.enabled,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.homePage != null" >
        HOME_PAGE = #{record.homePage,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeSid != null" >
        EMPLOYEE_SID = #{record.employeeSid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBL_SYS_USER
    set SID = #{record.sid,jdbcType=DECIMAL},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{record.createdDt,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=DECIMAL},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{record.updatedDt,jdbcType=TIMESTAMP},
      LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      ENABLED = #{record.enabled,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      HOME_PAGE = #{record.homePage,jdbcType=VARCHAR},
      EMPLOYEE_SID = #{record.employeeSid,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.dto.sys.User" >
    update TBL_SYS_USER
    <set >
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        HOME_PAGE = #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="employeeSid != null" >
        EMPLOYEE_SID = #{employeeSid,jdbcType=DECIMAL},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.dto.sys.User" >
    update TBL_SYS_USER
    set CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      HOME_PAGE = #{homePage,jdbcType=VARCHAR},
      EMPLOYEE_SID = #{employeeSid,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>


  <!-- 用户登录验证查询 -->
  <select id="authentication" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from TBL_SYS_USER
    where LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR} and PASSWORD = #{record.password,jdbcType=CHAR}
  </select>

  <!-- 分页条件查询 -->
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.huntech.pvs.dto.sys.UserExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!-- 分页查询，按照用户名称 -->
  <select id="selectPageByName" resultMap="BaseResultMap" parameterType="com.huntech.pvs.dto.sys.UserExample">
    select
    <include refid="Base_Column_List" />
    from TBL_SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>