<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.sys.WeiXinUserMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.sys.WeiXinUser" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SERV_MANID" property="servManid" jdbcType="BIGINT" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="TINYINT" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="AVATAR_URL" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="UNION_ID" property="unionId" jdbcType="VARCHAR" />
    <result column="USER_INFO" property="userInfo" jdbcType="VARCHAR" />
    <result column="HOME_ADDRESS" property="homeAddress" jdbcType="VARCHAR" />
    <result column="COMPANY_ADDRESS" property="companyAddress" jdbcType="VARCHAR" />
    <result column="USER_TEL" property="userTel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SERV_MANID, OPEN_ID, NICK_NAME, GENDER, CITY, PROVINCE, COUNTRY, AVATAR_URL, 
    UNION_ID, USER_INFO, HOME_ADDRESS, COMPANY_ADDRESS, USER_TEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.sys.WeiXinUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weixin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from weixin_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from weixin_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.sys.WeiXinUserExample" >
    delete from weixin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.sys.WeiXinUser" >
    insert into weixin_user (ID, SERV_MANID, OPEN_ID, 
      NICK_NAME, GENDER, CITY, 
      PROVINCE, COUNTRY, AVATAR_URL, 
      UNION_ID, USER_INFO, HOME_ADDRESS, 
      COMPANY_ADDRESS, USER_TEL)
    values (#{id,jdbcType=BIGINT}, #{servManid,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{unionId,jdbcType=VARCHAR}, #{userInfo,jdbcType=VARCHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.model.sys.WeiXinUser" >
    insert into weixin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="servManid != null" >
        SERV_MANID,
      </if>
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="avatarUrl != null" >
        AVATAR_URL,
      </if>
      <if test="unionId != null" >
        UNION_ID,
      </if>
      <if test="userInfo != null" >
        USER_INFO,
      </if>
      <if test="homeAddress != null" >
        HOME_ADDRESS,
      </if>
      <if test="companyAddress != null" >
        COMPANY_ADDRESS,
      </if>
      <if test="userTel != null" >
        USER_TEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="servManid != null" >
        #{servManid,jdbcType=BIGINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="userInfo != null" >
        #{userInfo,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null" >
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.sys.WeiXinUserExample" resultType="java.lang.Integer" >
    select count(*) from weixin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update weixin_user
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.servManid != null" >
        SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      </if>
      <if test="record.openId != null" >
        OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null" >
        NICK_NAME = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        GENDER = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.city != null" >
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.avatarUrl != null" >
        AVATAR_URL = #{record.avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.unionId != null" >
        UNION_ID = #{record.unionId,jdbcType=VARCHAR},
      </if>
      <if test="record.userInfo != null" >
        USER_INFO = #{record.userInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.homeAddress != null" >
        HOME_ADDRESS = #{record.homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddress != null" >
        COMPANY_ADDRESS = #{record.companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userTel != null" >
        USER_TEL = #{record.userTel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update weixin_user
    set ID = #{record.id,jdbcType=BIGINT},
      SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      NICK_NAME = #{record.nickName,jdbcType=VARCHAR},
      GENDER = #{record.gender,jdbcType=TINYINT},
      CITY = #{record.city,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      AVATAR_URL = #{record.avatarUrl,jdbcType=VARCHAR},
      UNION_ID = #{record.unionId,jdbcType=VARCHAR},
      USER_INFO = #{record.userInfo,jdbcType=VARCHAR},
      HOME_ADDRESS = #{record.homeAddress,jdbcType=VARCHAR},
      COMPANY_ADDRESS = #{record.companyAddress,jdbcType=VARCHAR},
      USER_TEL = #{record.userTel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.sys.WeiXinUser" >
    update weixin_user
    <set >
      <if test="servManid != null" >
        SERV_MANID = #{servManid,jdbcType=BIGINT},
      </if>
      <if test="openId != null" >
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=TINYINT},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        AVATAR_URL = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        UNION_ID = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="userInfo != null" >
        USER_INFO = #{userInfo,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null" >
        HOME_ADDRESS = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        USER_TEL = #{userTel,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.sys.WeiXinUser" >
    update weixin_user
    set SERV_MANID = #{servManid,jdbcType=BIGINT},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=TINYINT},
      CITY = #{city,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      AVATAR_URL = #{avatarUrl,jdbcType=VARCHAR},
      UNION_ID = #{unionId,jdbcType=VARCHAR},
      USER_INFO = #{userInfo,jdbcType=VARCHAR},
      HOME_ADDRESS = #{homeAddress,jdbcType=VARCHAR},
      COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      USER_TEL = #{userTel,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>