<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.services.LabelMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.services.Label" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="LABEL_CONTENT" property="labelContent" jdbcType="VARCHAR" />
    <result column="SERV_MANID" property="servManid" jdbcType="BIGINT" />
    <result column="SERV_ID" property="servId" jdbcType="BIGINT" />
    <result column="OPENID" property="openid" jdbcType="VARCHAR" />
    <result column="LDATE" property="ldate" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
    <result column="CAN_SEE" property="canSee" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, LABEL_CONTENT, SERV_MANID, SERV_ID, OPENID, LDATE, STATE, CAN_SEE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.services.LabelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_label
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_label
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.services.LabelExample" >
    delete from tbl_label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.services.Label" >
    insert into tbl_label (ID, LABEL_CONTENT, SERV_MANID, 
      SERV_ID, OPENID, LDATE, 
      STATE, CAN_SEE)
    values (#{id,jdbcType=BIGINT}, #{labelContent,jdbcType=VARCHAR}, #{servManid,jdbcType=BIGINT}, 
      #{servId,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{ldate,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=TINYINT}, #{canSee,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.model.services.Label" >
    insert into tbl_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="labelContent != null" >
        LABEL_CONTENT,
      </if>
      <if test="servManid != null" >
        SERV_MANID,
      </if>
      <if test="servId != null" >
        SERV_ID,
      </if>
      <if test="openid != null" >
        OPENID,
      </if>
      <if test="ldate != null" >
        LDATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="canSee != null" >
        CAN_SEE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="labelContent != null" >
        #{labelContent,jdbcType=VARCHAR},
      </if>
      <if test="servManid != null" >
        #{servManid,jdbcType=BIGINT},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="ldate != null" >
        #{ldate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="canSee != null" >
        #{canSee,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.services.LabelExample" resultType="java.lang.Integer" >
    select count(*) from tbl_label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_label
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.labelContent != null" >
        LABEL_CONTENT = #{record.labelContent,jdbcType=VARCHAR},
      </if>
      <if test="record.servManid != null" >
        SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      </if>
      <if test="record.servId != null" >
        SERV_ID = #{record.servId,jdbcType=BIGINT},
      </if>
      <if test="record.openid != null" >
        OPENID = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.ldate != null" >
        LDATE = #{record.ldate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.canSee != null" >
        CAN_SEE = #{record.canSee,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_label
    set ID = #{record.id,jdbcType=BIGINT},
      LABEL_CONTENT = #{record.labelContent,jdbcType=VARCHAR},
      SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      SERV_ID = #{record.servId,jdbcType=BIGINT},
      OPENID = #{record.openid,jdbcType=VARCHAR},
      LDATE = #{record.ldate,jdbcType=TIMESTAMP},
      STATE = #{record.state,jdbcType=TINYINT},
      CAN_SEE = #{record.canSee,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.services.Label" >
    update tbl_label
    <set >
      <if test="labelContent != null" >
        LABEL_CONTENT = #{labelContent,jdbcType=VARCHAR},
      </if>
      <if test="servManid != null" >
        SERV_MANID = #{servManid,jdbcType=BIGINT},
      </if>
      <if test="servId != null" >
        SERV_ID = #{servId,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="ldate != null" >
        LDATE = #{ldate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=TINYINT},
      </if>
      <if test="canSee != null" >
        CAN_SEE = #{canSee,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.services.Label" >
    update tbl_label
    set LABEL_CONTENT = #{labelContent,jdbcType=VARCHAR},
      SERV_MANID = #{servManid,jdbcType=BIGINT},
      SERV_ID = #{servId,jdbcType=BIGINT},
      OPENID = #{openid,jdbcType=VARCHAR},
      LDATE = #{ldate,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=TINYINT},
      CAN_SEE = #{canSee,jdbcType=TINYINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>