<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.services.ServStarMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.services.ServStar" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SERV_MANID" property="servManid" jdbcType="BIGINT" />
    <result column="SERV_STAR" property="servStar" jdbcType="INTEGER" />
    <result column="SERV_ID" property="servId" jdbcType="BIGINT" />
    <result column="GDATE" property="gdate" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SERV_MANID, SERV_STAR, SERV_ID, GDATE, STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.services.ServStarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_serv_star
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_serv_star
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_serv_star
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.services.ServStarExample" >
    delete from tbl_serv_star
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.services.ServStar" >
    insert into tbl_serv_star (ID, SERV_MANID, SERV_STAR, 
      SERV_ID, GDATE, STATE
      )
    values (#{id,jdbcType=BIGINT}, #{servManid,jdbcType=BIGINT}, #{servStar,jdbcType=INTEGER}, 
      #{servId,jdbcType=BIGINT}, #{gdate,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.model.services.ServStar" >
    insert into tbl_serv_star
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="servManid != null" >
        SERV_MANID,
      </if>
      <if test="servStar != null" >
        SERV_STAR,
      </if>
      <if test="servId != null" >
        SERV_ID,
      </if>
      <if test="gdate != null" >
        GDATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="servManid != null" >
        #{servManid,jdbcType=BIGINT},
      </if>
      <if test="servStar != null" >
        #{servStar,jdbcType=INTEGER},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=BIGINT},
      </if>
      <if test="gdate != null" >
        #{gdate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.services.ServStarExample" resultType="java.lang.Integer" >
    select count(*) from tbl_serv_star
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_serv_star
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.servManid != null" >
        SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      </if>
      <if test="record.servStar != null" >
        SERV_STAR = #{record.servStar,jdbcType=INTEGER},
      </if>
      <if test="record.servId != null" >
        SERV_ID = #{record.servId,jdbcType=BIGINT},
      </if>
      <if test="record.gdate != null" >
        GDATE = #{record.gdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_serv_star
    set ID = #{record.id,jdbcType=BIGINT},
      SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      SERV_STAR = #{record.servStar,jdbcType=INTEGER},
      SERV_ID = #{record.servId,jdbcType=BIGINT},
      GDATE = #{record.gdate,jdbcType=TIMESTAMP},
      STATE = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.services.ServStar" >
    update tbl_serv_star
    <set >
      <if test="servManid != null" >
        SERV_MANID = #{servManid,jdbcType=BIGINT},
      </if>
      <if test="servStar != null" >
        SERV_STAR = #{servStar,jdbcType=INTEGER},
      </if>
      <if test="servId != null" >
        SERV_ID = #{servId,jdbcType=BIGINT},
      </if>
      <if test="gdate != null" >
        GDATE = #{gdate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.services.ServStar" >
    update tbl_serv_star
    set SERV_MANID = #{servManid,jdbcType=BIGINT},
      SERV_STAR = #{servStar,jdbcType=INTEGER},
      SERV_ID = #{servId,jdbcType=BIGINT},
      GDATE = #{gdate,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=TINYINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>