<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.services.ServMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.services.Serv" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SERV_NAME" property="servName" jdbcType="VARCHAR" />
    <result column="SERV_TIME" property="servTime" jdbcType="VARCHAR" />
    <result column="SERV_TYPE" property="servType" jdbcType="CHAR" />
    <result column="BASESERV_TYPEID" property="baseservTypeid" jdbcType="BIGINT" />
    <result column="SELFSERV_TYPEID" property="selfservTypeid" jdbcType="BIGINT" />
    <result column="SERV_MANID" property="servManid" jdbcType="BIGINT" />
    <result column="SERV_CONTENTID" property="servContentid" jdbcType="BIGINT" />
    <result column="SERV_TIMEID" property="servTimeid" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.huntech.pvs.view.services.ServView" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SERV_NAME" property="servName" jdbcType="VARCHAR" />
    <result column="SNAME" property="sname" jdbcType="VARCHAR" />
    <result column="BASESERV_TYPEID" property="baseservTypeid" jdbcType="BIGINT" />
    <result column="SERV_MANID" property="servManid" jdbcType="BIGINT" />
    <result column="SERV_CONTENTID" property="servContentid" jdbcType="BIGINT" />
    <result column="SERV_TIMEID" property="servTimeid" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
    <result column="ERVERSATIS" property="serverSatis" jdbcType="INTEGER" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="STEL" property="stel" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap3" type="com.huntech.pvs.view.services.DetailServView" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SERV_NAME" property="servName" jdbcType="VARCHAR" />
    <result column="SNAME" property="sname" jdbcType="VARCHAR" />
    <result column="BASESERV_TYPEID" property="baseservTypeid" jdbcType="BIGINT" />
    <result column="SERV_MANID" property="servManid" jdbcType="BIGINT" />
    <result column="SERV_CONTENTID" property="servContentid" jdbcType="BIGINT" />
    <result column="SERV_TIMEID" property="servTimeid" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
    <result column="ERVERSATIS" property="serverSatis" jdbcType="INTEGER" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="STEL" property="stel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SERV_NAME, SERV_TYPE, BASESERV_TYPEID, SELFSERV_TYPEID, SERV_MANID, SERV_CONTENTID, 
    SERV_TIMEID, STATE
  </sql>


  <select id="selectServsView"   resultMap="BaseResultMap2">
    SELECT
    s.ID,
    s.BASESERV_TYPEID,
    s.SERV_NAME,
    s.SERV_MANID,
    m.SNAME,
    m.STEL,
    g.LONGITUDE,
    g.LATITUDE,
    t.ERVERSATIS,
    st.serv_time,
      s.STATE
    FROM
    TBL_SERV s
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
    LEFT JOIN tbl_serv_time st ON s.SERV_TIMEID=st.ID
    <where>
      <if test="servType!=null">
        and s.SERV_TYPE=#{servType}
      </if>
      <if test="states!=null">
        and s.STATE=#{states}
      </if>
      <if test="baseservTypeid!=null">
        and s.BASESERV_TYPEID=#{baseservTypeid}
      </if>
      <if test="openid!=null">
        AND s.SERV_MANID NOT IN (
        SELECT
        d.ID
        FROM
        tbl_dis_serv d
        WHERE
        d.OPENID = #{openid}
        )
      </if>


    </where>


  </select>


  <select id="selectServsViewCount"   resultType="java.lang.Integer">
    SELECT
    COUNT(s.ID) AS  ID
    FROM
    TBL_SERV s
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
    <where>
      <if test="servType!=null">
        and s.SERV_TYPE=#{servType}
      </if>
      <if test="states!=null">
        and s.STATE=#{states}
      </if>
      <if test="baseservTypeid!=null">
        and s.BASESERV_TYPEID=#{baseservTypeid}
      </if>
      <if test="openid!=null">
        AND s.SERV_MANID NOT IN (
        SELECT
        d.ID
        FROM
        tbl_dis_serv d
        WHERE
        d.OPENID = #{openid}
        )
      </if>
    </where>
  </select>

  <select id="selectAttentionServsView"   resultMap="BaseResultMap2">
    SELECT
    s.ID,
    s.BASESERV_TYPEID,
    s.SERV_NAME,
    s.SERV_MANID,
    m.SNAME,
    m.STEL,
    g.LONGITUDE,
    g.LATITUDE,
    t.ERVERSATIS,
    st.serv_time,
      s.STATE
    FROM
    tbl_attention a
    LEFT JOIN TBL_SERV s ON s.ID = a.SERVID
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
      LEFT JOIN tbl_serv_time st ON s.SERV_TIMEID=st.ID
    <where>
      <if test="openid!=null">
        and a.OPENID=#{openid}
      </if>
    </where>
  </select>
  <select id="selectAttentionServsViewCount"   resultType="java.lang.Integer">
    SELECT
    COUNT(a.ID) AS  ID
    FROM
    tbl_attention a
    LEFT JOIN TBL_SERV s ON s.ID = a.SERVID
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
    <where>
      <if test="openid!=null">
        and a.OPENID=#{openid}
      </if>
    </where>
  </select>

  <select id="selectRecommendServsView"   resultMap="BaseResultMap2">
    SELECT
    s.ID,
    s.BASESERV_TYPEID,
    s.SERV_NAME,
    s.SERV_MANID,
    m.SNAME,
    m.STEL,
    g.LONGITUDE,
    g.LATITUDE,
    t.ERVERSATIS,
      st.serv_time,
      s.STATE
    FROM
     tbl_recommend r
    LEFT JOIN TBL_SERV s ON s.ID=r.SERVID
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
      LEFT JOIN tbl_serv_time st ON s.SERV_TIMEID=st.ID
    <where>
      <if test="openid!=null">
        and r.OPENID=#{openid}
      </if>
    </where>
  </select>

  <select id="selectRecommendServsViewCount"   resultType="java.lang.Integer">
    SELECT
    COUNT(r.ID) AS  ID
    FROM
     tbl_recommend r
    LEFT JOIN TBL_SERV s ON s.ID=r.SERVID
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
    <where>
      <if test="openid!=null">
        and r.OPENID=#{openid}
      </if>
    </where>
  </select>

  <select id="getDetailServsView"   resultMap="BaseResultMap3">

    SELECT
    s.ID,
    s.BASESERV_TYPEID,
    s.SERV_NAME,
    s.SERV_MANID,
    m.SNAME,
    m.STEL,
    g.LONGITUDE,
    g.LATITUDE,
    t.ERVERSATIS,
    m.SERV_ADDRESS,
      st.serv_time,
      s.STATE,
      s.SERV_CONTENTID
    FROM
    TBL_SERV s
    LEFT JOIN tbl_serv_man m ON m.ID = s.SERV_MANID
    LEFT JOIN tbl_serv_man_gps g ON s.SERV_MANID = g.SERV_MANID
    LEFT JOIN tbl_satis t ON s.ID = t.SERID
      LEFT JOIN tbl_serv_time st ON s.SERV_TIMEID=st.ID
    <where>
      <if test="id!=null">
        and t.ID=#{id}
      </if>
    </where>
  </select>




  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.services.ServExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_serv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_serv
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_serv
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.services.ServExample" >
    delete from tbl_serv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.services.Serv" >
    insert into tbl_serv (ID, SERV_NAME, SERV_TYPE, 
      BASESERV_TYPEID, STATE
      )
    values (#{id,jdbcType=BIGINT}, #{servName,jdbcType=VARCHAR}, #{servType,jdbcType=CHAR}, 
      #{baseservTypeid,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.model.services.Serv" >
    insert into tbl_serv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="servName != null" >
        SERV_NAME,
      </if>
      <if test="servType != null" >
        SERV_TYPE,
      </if>
      <if test="baseservTypeid != null" >
        BASESERV_TYPEID,
      </if>
      <if test="selfservTypeid != null" >
        SELFSERV_TYPEID,
      </if>
      <if test="servManid != null" >
        SERV_MANID,
      </if>
      <if test="servContentid != null" >
        SERV_CONTENTID,
      </if>
      <if test="servTimeid != null" >
        SERV_TIMEID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="servName != null" >
        #{servName,jdbcType=VARCHAR},
      </if>
      <if test="servType != null" >
        #{servType,jdbcType=CHAR},
      </if>
      <if test="baseservTypeid != null" >
        #{baseservTypeid,jdbcType=BIGINT},
      </if>
      <if test="selfservTypeid != null" >
        #{selfservTypeid,jdbcType=BIGINT},
      </if>
      <if test="servManid != null" >
        #{servManid,jdbcType=BIGINT},
      </if>
      <if test="servContentid != null" >
        #{servContentid,jdbcType=BIGINT},
      </if>
      <if test="servTimeid != null" >
        #{servTimeid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.services.ServExample" resultType="java.lang.Integer" >
    select count(*) from tbl_serv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_serv
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.servName != null" >
        SERV_NAME = #{record.servName,jdbcType=VARCHAR},
      </if>
      <if test="record.servType != null" >
        SERV_TYPE = #{record.servType,jdbcType=CHAR},
      </if>
      <if test="record.baseservTypeid != null" >
        BASESERV_TYPEID = #{record.baseservTypeid,jdbcType=BIGINT},
      </if>
      <if test="record.selfservTypeid != null" >
        SELFSERV_TYPEID = #{record.selfservTypeid,jdbcType=BIGINT},
      </if>
      <if test="record.servManid != null" >
        SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      </if>
      <if test="record.servContentid != null" >
        SERV_CONTENTID = #{record.servContentid,jdbcType=BIGINT},
      </if>
      <if test="record.servTimeid != null" >
        SERV_TIMEID = #{record.servTimeid,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_serv
    set ID = #{record.id,jdbcType=BIGINT},
      SERV_NAME = #{record.servName,jdbcType=VARCHAR},
      SERV_TYPE = #{record.servType,jdbcType=CHAR},
      BASESERV_TYPEID = #{record.baseservTypeid,jdbcType=BIGINT},
      SELFSERV_TYPEID = #{record.selfservTypeid,jdbcType=BIGINT},
      SERV_MANID = #{record.servManid,jdbcType=BIGINT},
      SERV_CONTENTID = #{record.servContentid,jdbcType=BIGINT},
      SERV_TIMEID = #{record.servTimeid,jdbcType=INTEGER},
      STATE = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.services.Serv" >
    update tbl_serv
    <set >
      <if test="servName != null" >
        SERV_NAME = #{servName,jdbcType=VARCHAR},
      </if>
      <if test="servType != null" >
        SERV_TYPE = #{servType,jdbcType=CHAR},
      </if>
      <if test="baseservTypeid != null" >
        BASESERV_TYPEID = #{baseservTypeid,jdbcType=BIGINT},
      </if>
      <if test="selfservTypeid != null" >
        SELFSERV_TYPEID = #{selfservTypeid,jdbcType=BIGINT},
      </if>
      <if test="servManid != null" >
        SERV_MANID = #{servManid,jdbcType=BIGINT},
      </if>
      <if test="servContentid != null" >
        SERV_CONTENTID = #{servContentid,jdbcType=BIGINT},
      </if>
      <if test="servTimeid != null" >
        SERV_TIMEID = #{servTimeid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.services.Serv" >
    update tbl_serv
    set SERV_NAME = #{servName,jdbcType=VARCHAR},
      SERV_TYPE = #{servType,jdbcType=CHAR},
      BASESERV_TYPEID = #{baseservTypeid,jdbcType=BIGINT},
      SELFSERV_TYPEID = #{selfservTypeid,jdbcType=BIGINT},
      SERV_MANID = #{servManid,jdbcType=BIGINT},
      SERV_CONTENTID = #{servContentid,jdbcType=BIGINT},
      SERV_TIMEID = #{servTimeid,jdbcType=INTEGER},
      STATE = #{state,jdbcType=TINYINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>