<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntech.pvs.dao.services.TransmitsMapper" >
  <resultMap id="BaseResultMap" type="com.huntech.pvs.model.services.Transmits" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="OPENID" property="openid" jdbcType="VARCHAR" />
    <result column="SERVID" property="servid" jdbcType="BIGINT" />
    <result column="TDATE" property="tdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OPENID, SERVID, TDATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntech.pvs.model.services.TransmitsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_transmits
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_transmits
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_transmits
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntech.pvs.model.services.TransmitsExample" >
    delete from tbl_transmits
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntech.pvs.model.services.Transmits" >
    insert into tbl_transmits (ID, OPENID, SERVID, 
      TDATE)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{servid,jdbcType=BIGINT}, 
      #{tdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huntech.pvs.model.services.Transmits" >
    insert into tbl_transmits
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="openid != null" >
        OPENID,
      </if>
      <if test="servid != null" >
        SERVID,
      </if>
      <if test="tdate != null" >
        TDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="servid != null" >
        #{servid,jdbcType=BIGINT},
      </if>
      <if test="tdate != null" >
        #{tdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntech.pvs.model.services.TransmitsExample" resultType="java.lang.Integer" >
    select count(*) from tbl_transmits
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_transmits
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.openid != null" >
        OPENID = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.servid != null" >
        SERVID = #{record.servid,jdbcType=BIGINT},
      </if>
      <if test="record.tdate != null" >
        TDATE = #{record.tdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_transmits
    set ID = #{record.id,jdbcType=BIGINT},
      OPENID = #{record.openid,jdbcType=VARCHAR},
      SERVID = #{record.servid,jdbcType=BIGINT},
      TDATE = #{record.tdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntech.pvs.model.services.Transmits" >
    update tbl_transmits
    <set >
      <if test="openid != null" >
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="servid != null" >
        SERVID = #{servid,jdbcType=BIGINT},
      </if>
      <if test="tdate != null" >
        TDATE = #{tdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntech.pvs.model.services.Transmits" >
    update tbl_transmits
    set OPENID = #{openid,jdbcType=VARCHAR},
      SERVID = #{servid,jdbcType=BIGINT},
      TDATE = #{tdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>